@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body{
	
	font-weight: 100;
}

.btn{
	/*border-radius: 0px;*/
}

.sticky {
  background-color: #0d59afd6;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

.searc{

	display: none;
}

nav#links{
	position: relative;
	height: 30px;
	font-size: 14px;
	background-color: #333333d6;
	/*background-color: #0d59afd6;*/
}

nav#links ul{
	text-align: right;
	padding: 0px;
	margin:0px;
}

nav#links ul > li{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	list-style-type: none;
}

nav#links ul > li a{
	color: #fff;
	padding: 5px 10px;
	display: block;
	margin-right: 1px;
}

nav#links ul > li a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #000;
}


/*The Main Nav*/
nav#main{
	
	position: relative;
	 height: 100px;
	-webkit-transition: background-color 1s;
	-webkit-transistion: position 0.5s ease-in-out;
	z-index: 6;
}

nav#main .btn{
	-webkit-transition: background-color 1s;
}

nav#main:hover{
	background-color: #0d59afd6;

}

nav#main:hover .btn{
	-webkit-transition: transform 0.3s ease-in-out;
	background-color: #eea236;
}

nav#main:hover .btn:hover{

	transform: rotate(-5deg);
}

nav#main div.row > div{
	height:100%;
	padding: 0px 5px;
}


nav#main div.logo img{
	height: 100%;
	display: block;
	margin-left: auto;
	padding-bottom: 15px;
	max-width: 100%;
}

nav#main div.title{
	color: #fff;
}

nav#main div.title h3{
	margin: 0px;
	font-weight: normal;
	padding: 15px 0px 5px 0px;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

nav#main div.title p{
	margin: 0px;
	letter-spacing: 10px;

}

nav#main div.menu > ul{
	padding: 3px;
	margin: 25px 0px;
	text-align: right;
}

nav#main div.menu li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

nav#main div.menu li > a {
	display: block;
	padding: 10px;
	color: #fff;
}

nav#main div.menu > ul > li{
	display: inline-block;
}

nav#main div.menu li > input{

	border-radius: 20px;
	opacity: 0.5;
	border: 1px solid #fff;
	width: 200px;
	height: 30px;
}

nav#main div.menu li > a:hover{
	text-decoration: none;
	color: grey;
}


section#our-goals{
	margin-bottom: 20px;
	background: url(../img/deolu2.jpg) no-repeat;
	background-position: center -220px;
	background-size: cover;
	height: 650px;
	padding-top: 170px;
	margin-top: -180px;
	background-attachment: fixed;
	box-shadow: 0px 1px 20px #555;
}

section#our-goals > div{

	margin: 50px auto;
	max-width: 1000px;
}

section#our-goals > div.goals h1{

	font-size: 60px;
	color: #fff;
}

section#our-goals > div.goals p#aboutus{

	font-weight: 100px;
	color:white;
	padding: 0px 70px;
	font-size: 25px;
}

section#our-goals > div.goals p a{
	margin-top: 20px;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #0d59afd6;
}

#contactus{

	width: 200px;
	height: 50px;
	background-color: red;
	/*margin-top: 250px;*/
	border-radius: 50px 0px 0px 0px;
	display: inline-block;
	z-index: 2;
	position: fixed;

}

.news{
	width: 1400px;
}

section#news{
	-webkit-transition:width 1s ease-in-out;
	display: inline-block;
	position: relative;
	width: 1400px;
}

section#news div.row > div.image{
	box-shadow: none;
}

section#news div.row > div.image:hover{
	border-bottom: 0px;
	transform: rotate(10deg);
	content: "\f0a4"; 
}

/*fa-arrow-right*/
/*@-webkit-keyframes borderTransit{
	0%	{border-bottom: 0px;}
	25%	{border-bottom: 1px solid;border-bottom-color: red;}
	50%	{border-left: 1px solid;border-left-color: red;}
	75%	{border-top: 1px solid;border-top-color: red;}
	100%{border-right: 1px solid;border-right-color: red;}

} 
*/
section#news div.row > div {
	
	font-weight: normal;
	-webkit-transition: box-shadow 0.4s;
	min-height: 200px;
	/*border-bottom: 3px solid #aaa;*/
	box-shadow: 0px 5px 12px #ddd;
	margin-bottom: 40px;
}

section#news div.newsheader1:hover{

	box-shadow: 0px 35px 12px #ddd;
}

section#news div.newsheader2:hover{
	box-shadow: 0px 35px 12px #ddd;
}

section#news div.newsheader3:hover{
	box-shadow: 0px 35px 12px #ddd;
}

section#slider{
	width: 825px;
	display: inline-block;
	box-shadow: 0.1px 0px 12px black;
	border-radius: 5px;
}

section#slider div.item{
	border-radius: 5px;
}

section#description{
	display: inline-block;
	margin-left: 30px;
	background-color: white;
	height: 400px;
	width: 390px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 1px 0px 12px black;
}

section#description div{

	-webkit-transition: box-shadow 0.4s;
	height: 120px;
	box-shadow: 0px 5px 2px #ddd; 
	border-bottom: 5px;
	padding: 20px;
}

/*section#description div:hover{

	box-shadow: 0px 35px 2px #ddd;
}*/

@font-face{
	font-family: desFont;
	src: url("font/latothin.ttf") format("ttf");
	font-weight: normal;
}

section#description div > p{

	font-weight: 200px;
	font-size: 20px;
}

/*This is the beginning of the styling for the team page*/

section#team{
	margin-bottom:40px;
}
.teamimgcontain{
	background-image: url("../img/team.png");
	background-repeat: round;
	width:100%;
	height: 250px;
	/*opacity:1.8;*/
	}

.teamimgcontain h1{
color: white;
padding-top:125px;
font-weight: bolder;
/*margin:auto;*/
}
div.meet h1{
	font-weight: bolder;
	/*position: fixed;*/
	/*z-index: 6;*/
	/*background-color: #0d59afd6;*/
}

section#zindex-carousel{
	height:500px;
	margin-bottom: 80px;
	
}
section#zindex-carousel img{
		/*padding-right: 10px;*/
		/*border-radius: 10px;*/
}

div.contain{
	height:100%;
	/*margin:auto;*/
	padding-left: 200px;
}
div.meet{
	margin-bottom: 40px;
	
}

div.overlaysolz{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
  
 }
.solz:hover .overlaysolz{
  opacity: 1;
  border:10px solid #bfbeab;
  z-index: 5;
 }
 .overlaysolz p{
 	font-weight: bold;
 	color: #bfbeab;
 }
div.overlayweybtech{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 
 }
.weybtech:hover .overlayweybtech{
  opacity: 1;
  border:10px solid #5e5449;
  z-index: 5;
 }

 .overlayweybtech p{
 	font-weight: bold;
 	color: #5e5449;
 }

div.overlaydav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 }
.dav:hover .overlaydav{
  opacity: 1;
  border:10px solid #3b4ea7;
  z-index: 5;
 }
 .overlaydav p{
 	font-weight: bold;
 	color: #3b4ea7;
 }
 div.overlaydee{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 }
.dee:hover .overlaydee{
  opacity: 1;
   border:10px solid #232139;
   z-index: 5;
 }
 .overlaydee p{
 	font-weight: bold;
 	color: #232139;
 	}
 div.overlaykupe{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 }
.kupe:hover .overlaykupe{
  opacity: 1;
  border:10px solid #101a27;
  z-index: 5;
 }
 .overlaykupe p{
 	font-weight: bold;
 	color: #101a27;
 	}
 div.overlaykenny{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 }
.kenny:hover .overlaykenny{
  opacity: 1;
   border:10px solid #243857;
   z-index: 5;
 }
 .overlaykenny p{
 	font-weight: bold;
 	color: #243857;
 }
 	div.overlayogo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
 }
.ogo:hover .overlayogo{
  opacity: 1;
   border:10px solid #84136c;
   z-index: 5;
 }
 .overlayogo p{
 	font-weight: bold;
 	color: #84136c;
 }
.attrib{
	width: 260px;
	height: 230px;
}
.solz,.weybtech,.dav{
	display: inline-block;
}
.dee, .kupe, .kenny, .ogo{
	display: inline-block;
}
div.dee{
	position:absolute;
	top: 600px;
    left: 100px;
	right: 0px;
	z-index: 4;
	
}
div.kupe{
	position:absolute;
	top: 600px;
    left: 400px;
	z-index: 4;
}
div.kenny{
	position: absolute;
	top: 550px;
    left: 700px;
	z-index: 3;
}
div.ogo{
	position:absolute;
	top: 600px;
    left: 1000px;
	z-index: 4;
}
div.weybtech{
	top: 460px;
	left: 541px;
	position: absolute;
	z-index: 2; 
}
.weybtech:hover .weybtech{
	z-index: 5;
}
div.solz{
	top: 400px;
	left: 250px;
	position: absolute;
	z-index: 1;
}
div.dav{
	top: 390px;
    left: 829px;
	position: absolute;
	z-index: 1;
}
}

/*THE NEXT SECTION*/
#downloads{
	background-color: #333333d6;
	/*opacity:1;*/
	width: 100%;
	margin-bottom: 200px;
}
#downloads li{
	list-style-type: none; 
}
#downloads a:hover{
	text-decoration: none;
	color: #f19e1f;
}
#downloads h1{
	color:white;
}
.firstcol{width: 33%;}
.secondcol{width: 33%;}
.thirdcol{width: 33%;}
.firstcol,.secondcol{
	display:inline-block;
}
.drpdwn{
	width:60%;
	display:none;
	background-color: white;
	z-index: 1;
	position: absolute;
	padding:0px;
	border-radius: 10px;
}
.drpdwn li{border-bottom: 1px solid grey;}
.alldropdowns:hover ul{
	display: inline-block;
}








