
/*This is the beginning of the styling for the team page*/

section#team{
	
	margin-top: -120px;
	margin-bottom:80px;
	filter: blur(10px);

}
section#team div.teamimgcontain{
	background-image: url("../img/team.png");
	background-repeat: none;
	width:100%;
	height: 350px;
	/*opacity:1.8;*/
	}

section#teamoverlay{

	background-color: black;
	width: 100%;
	height: 450px;
	margin-top: -470px;
	position: relative;
	z-index: 1;
	opacity:0.6;
	padding: 180px;
}

section#overlaydes{

	margin-top: -200px;
	margin-bottom: 200px;

}

section#overlaydes > div{
	
	text-align:center;
	position: relative;
	z-index: 3;
	color: white;

}

section#zindex-carousel{
	
	height:500px;
	margin-bottom: 80px;
	
}

section#zindex-carousel div.contain{

	height: 100%;
	width: 100%;

}
section#zindex-carousel div.meet{

	margin-bottom: 40px;

}

section#zindex-carousel div.meet h1{
	font-weight: bolder;
	text-align: center;
>>>>>>> 72f909c745cf74957510ffa79857eaef5a9f70f0
	/*position: fixed;*/
	/*z-index: 6;*/
	/*background-color: #0d59afd6;*/
}




section#zindex-carousel img{
		padding-right: 20px;
}



div.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
  padding-top: 55px;
  
 }
.solz:hover .overlay{
  opacity: 1;
  border:10px solid #bfbeab;
   z-index: 5;
 }
 .overlaysolz p{
 	font-weight: bold;
 	color: #bfbeab;
 }

.weybtech:hover .overlay{
  opacity: 1;
  border:10px solid #5e5449;
  z-index: 5;

 }

 .overlayweybtech p{
 	font-weight: bold;
 	color: #5e5449;
 }

.dav:hover .overlay{
  opacity: 1;
  border:10px solid #3b4ea7;
  z-index: 5; 
}
 .overlaydav p{
 	font-weight: bold;
 	color: #3b4ea7;
 }
 
.dee:hover .overlay{
  opacity: 1;
   border:10px solid #232139;
    z-index: 5;

 }
 .overlaydee p{
 	font-weight: bold;
 	color: #232139;
 	}
.kupe:hover .overlay{
  opacity: 1;
  border:10px solid #101a27;
   z-index: 5;

 }
 .overlaykupe p{
 	font-weight: bold;
 	color: #101a27;
 	}
.kenny:hover .overlay{
  opacity: 1;
   border:10px solid #243857;
   z-index: 5;
 }
 .overlaykenny p{
 	font-weight: bold;
 	color: #243857;
 }

.ogo:hover .overlayogo{
  opacity: 1;
   border:10px solid #84136c;
    z-index: 5;
 }
 .overlayogo p{
 	font-weight: bold;
 	color: #84136c;
 }
.attrib{
	width: 260px;
	height: 230px;
}
.solz,.weybtech,.dav{
	display: inline-block;
}
.dee, .kupe, .kenny, .ogo{
	display: inline-block;
}
div.dee{
	position:relative;
	left: 150px;
    bottom: 30px;

	
}
div.kupe{
	position:relative;
	left: 150px;
    bottom: 30px;

}
div.kenny{
	position: relative;
	left: 150px;
    bottom: 80px;
}
div.ogo{
	position:relative;
	left: 150px;
    bottom: 30px;
    
}
div.weybtech{
	position: relative;
	left: 280px;
    top: 50px;
}

div.solz{
	left: 280px;
	position: relative;
	
}
div.dav{
	position: relative;
	left: 280px;
}













