/*@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
*/
body{
	
	font-weight: 100;
}

.btn{
	/*border-radius: 0px;*/
}

.sticky {
  background-color: #0d59afd6;
  z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

.searc{

	display: none;
}

nav#links{
	position: relative;
	z-index: 8;
	height: 30px;
	font-size: 14px;
	background-color: #333333d6;
	/*background-color: #0d59afd6;*/
}

nav#links ul{
	text-align: right;
	padding: 0px;
	margin:0px;
}

nav#links ul > li{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	list-style-type: none;
}

nav#links ul > li a{
	color: #fff;
	padding: 5px 10px;
	display: block;
	margin-right: 1px;
}

nav#links ul > li a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #000;
}


/*The Main Nav*/
nav#main{
	
	position: relative;
	z-index: 7;
	 height: 100px;
	-webkit-transition: background-color 1s;
	-webkit-transistion: position 0.5s ease-in-out;
	z-index: 6;
}

nav#main .btn{
	-webkit-transition: background-color 1s;
}

nav#main:hover{
	background-color: #0d59afd6;

}

nav#main:hover .btn{
	-webkit-transition: transform 0.3s ease-in-out;
	background-color: #eea236;
}

nav#main:hover .btn:hover{

	transform: rotate(-5deg);
	color: #0d59afd6;
}

nav#main div.row > div{
	height:100%;
	padding: 0px 5px;
}


nav#main div.logo img{
	height: 100%;
	display: block;
	margin-left: auto;
	padding-bottom: 15px;
	max-width: 100%;
}

nav#main div.title{
	color: #fff;
}

nav#main div.title h3{
	margin: 0px;
	font-weight: normal;
	padding: 15px 0px 5px 0px;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

nav#main div.title p{
	margin: 0px;
	letter-spacing: 10px;

}

nav#main div.menu > ul{
	padding: 3px;
	margin: 25px 0px;
	text-align: right;
}

nav#main div.menu li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

nav#main div.menu li > a {
	display: block;
	padding: 10px;
	color: #fff;
}

nav#main div.menu > ul > li{
	display: inline-block;
}

nav#main div.menu li > input{

	border-radius: 20px;
	opacity: 0.5;
	border: 1px solid #fff;
	width: 200px;
	height: 30px;
}

nav#main div.menu li > a:hover{
	text-decoration: none;
	color: #fa9e3c;
}

/*nav#main div.menu li > i:hover{
	
	color: #fa9e3c;
}
*/

section#our-goals{
	margin-bottom: 20px;
	background: url(../img/back9.jpg) no-repeat;
	background-position: center -220px;
	background-size: cover;
	height: 650px;
	padding-top: 170px;
	margin-top: -180px;
	background-attachment: fixed;
	box-shadow: 0px 1px 20px #555;
	-webkit-transition:background 2s ease-in-out;
  	/*opacity: 0.85;*/
  	/*background-color: black;*/
  	/*filter: alpha(opacity=60); /* For IE8 and earlier */*/
	/*position: relative;
	z-index: 6;*/


}

section#coverOverlay{

	margin-bottom: 20px;
	/*background: url(../img/deolu2.jpg) no-repeat;*/
	/*background-position: center -220px;*/
	/*background-size: cover;*/
	height: 630px;
	padding-top: 170px;
	margin-top: -650px;
	background-attachment: fixed;
	box-shadow: 0px 1px 20px #555;
	-webkit-transition:background 2s ease-in-out;
  	opacity: 0.75;
  	background-color: black;

}

section#coverOverlay{

	margin-bottom: 20px;
	/*background: url(../img/deolu2.jpg) no-repeat;*/
	/*background-position: center -220px;*/
	/*background-size: cover;*/
	height: 630px;
	padding-top: 170px;
	margin-top: -650px;
	background-attachment: fixed;
	box-shadow: 0px 1px 20px #555;
	-webkit-transition:background 2s ease-in-out;
  	opacity: 0.75;
  	background-color: black;

}

section#our-goalss{

	margin-top: -500px;
	position: relative;
	z-index: 6;
}


section#our-goalss > div{

	margin: 50px auto;
	max-width: 1000px;
}

section#our-goalss > div.goals h1{

	font-size: 60px;
	color: #fff;
}

section#our-goalss > div.goals p#aboutus{

	font-weight: 400px;
	color:white;
	padding: 0px 70px;
	font-size: 25px;

}

section#our-goalss > div.goals p a{
	margin-top: 20px;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #0d59afd6;
}

#contactus{

	width: 200px;
	height: 50px;
	background-color: #fa9e3c;
	/*margin-top: 250px;*/
	border-radius: 50px 0px 0px 0px;
	position: fixed;
	z-index: 2;
	-webkit-transition:margin-left 0.4s ease-in-out;

}

#contactus:hover{
	margin-left: -100px;
}


#contactus:hover{
	margin-left: -100px;
}


section#newSlider{
	margin-top: 200px;
	margin-bottom: 100px;
}

section#news{
	-webkit-transition:margin-left 0.7s ease-in-out;
	display: inline-block;
	position: relative;
	width: 1200px;
	margin-left: -1300px;
	/*min-height: 500px;*/

}

section#news div.row > div.image{
	/*-webkit-transition:transform 1s ease-in-out;*/
	box-shadow: none;
	min-height: 200px;
}

section#news div.row img.news{
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

}

section#news div.row img.news{
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

section#news div.row div.newsheader{

	-webkit-transition: box-shadow 0.4s ease-in-out;
}

section#news > div.row > div.image:hover{
	border-bottom: 0px;
	transform: rotate(10deg);
	content: "\f0a4"; 
}

/*fa-arrow-right*/
/*@-webkit-keyframes borderTransit{
	0%	{border-bottom: 0px;}
	25%	{border-bottom: 1px solid;border-bottom-color: red;}
	50%	{border-left: 1px solid;border-left-color: red;}
	75%	{border-top: 1px solid;border-top-color: red;}
	100%{border-right: 1px solid;border-right-color: red;}

} 
*/

section#news > div.row > div.post{
	
	font-weight: normal;
	/*border-bottom: 3px solid #aaa;*/
	box-shadow: 0px 5px 12px #ddd;
	margin-bottom: 40px;
}


section#news div.newsheader1:hover{

	box-shadow: 0px 35px 12px #ddd;
}

section#slider{
	width: 825px;
	display: inline-block;
	box-shadow: 0.1px 0px 12px black;
	border-radius: 5px;
}

section#slider div.item{
	border-radius: 5px;
}

section#description{
	display: inline-block;
	margin-left: 30px;
	background-color: white;
	height: 400px;
	width: 390px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 1px 0px 12px black;
}

section#description div{

	-webkit-transition: box-shadow 0.4s;
	height: 120px;
	box-shadow: 0px 5px 2px #ddd; 
	border-bottom: 5px;
	padding: 20px;
}

/*section#description div:hover{

	box-shadow: 0px 35px 2px #ddd;
}*/

@font-face{
	font-family: desFont;
	src: url("font/latothin.ttf") format("ttf");
	font-weight: normal;
}

section#description div > p{

	font-weight: 200px;
	font-size: 20px;
}

/*This is the beginning of the styling for the team page*/






/*--------------------------------------*/
.events{
    background-color: white;
    height: 500px;
}

section.events div.container{
	margin-left: 130px;
	margin-top: 50px;
}

section.events div.sampleevents{
    width: 250px;
    height: 300px;
    border: 1px solid #0d59afd6;
    box-shadow: 1px 3px 9px #0d59afd6; 
    border-radius: 12px;
    background-color: white;
    -webkit-transition:background-color 1s ease-in-out;
}


/*--------------------------------------*/
.events{
    background-color: white;
    height: 500px;
}

section.events div.container{
	margin-left: 130px;
	margin-top: 50px;
}

section.events div.sampleevents{
    width: 250px;
    height: 300px;
    border: 1px solid #0d59afd6;
    box-shadow: 1px 3px 9px #0d59afd6; 
    border-radius: 12px;
    background-color: white;
    -webkit-transition:background-color 1s ease-in-out;
}

section.events div.sampleevents:hover{
    background-color: goldenrod;
    font-size: 18px;
    font-weight: 600;
}

section.events div.row{
	padding-top: 50px;
}


section#downloads{

	background-color: #333333;
	width: 100%;
	height: 100%;

}


section#downloads div.listdivs{

	display: inline-block;
	margin-left: 40px;
	display: none;
	max-height: 100%;
	
}

section#downloads h1{

	color: white;

}

section#downloads div.row li.toplist{

	color: #eea236;
}

section#downloads li{

	color: white;
	list-style: none;
	margin-bottom: 10px;
	font-weight: 400;
}

section#downloads div.row a{

	text-decoration: none;
}


footer{
	height: 60px;
	background-color: black;
	padding-top: 30px;
}

footer.footer div.footertext{

	text-align: center;
	color: #eea236;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 5px;
	font-size: 15px;

}

